aiosqlite==0.18.0
json5==0.9.6
jsonschema==4.17.3
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==0.8.4
multitasking==0.0.11
munkres==1.1.4
nest-asyncio==1.5.6
numexpr==2.8.4
numpy==1.25.0
osqp==0.6.3
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
pip==23.1.2
platformdirs==2.5.2
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.36
psutil==5.9.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyportfolioopt==1.5.5
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.7
qdldl==0.1.7.post0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scipy==1.11.1
scs==3.2.3
seaborn==0.12.2
yfinance==0.2.26

